* {
  box-sizing: border-box;

}

/* Color Pallette */

:root {
  --dark: rgba(129, 132, 134, 0.5);
  --mediumdark: rgba(227, 225, 221, 0.5);
  --medium: rgba(239, 238, 234, 0.4);
  --mediumlight: rgba(123, 200, 214, 1);
  --mediumlighttrans: rgba(123, 200, 214, 0.5);
  --light: rgba(239, 211, 134, 0.5);
  --overgray: rgba(92, 71, 56, 0.2);
}

body {
  background-color: #0b7202;
  /* background-image: url(blue-background-nature-5.jpg); */
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  font-weight: normal;
  color: gray;
  letter-spacing: 1pt;
  word-spacing: 2pt;
  font-size: 18px;
  text-align: left;
  font-family: Optima, sans-serif;
  line-height: 1;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
header {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 70px;
  font-size: 30px;
}
@media only screen and (min-width: 640px) {
  header {
    text-align: center;
    margin-top: 70px;
  }
}
form {
  display: block;
  margin: auto;
}
fieldset {
  border: none;
}

.col-3 > a > img {
  height: 180px;
  width: 180px;

}
.file-input {

    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

}

.file-input + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
  cursor: pointer;
  padding: 20px;
  margin: 20px;
}

.file-input:focus + label,
.file-input + label:hover {
  background-color: red;
}
.inputfile + label * {
	pointer-events: none;
}
#output {
  height: 300px;
  width: 300px;
}






/*********************/
/* START GRID SYSTEM */
/*********************/

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: "";
}
.row::after {
  clear: both;
}
.col-3,
.col-4,
.col-6,
.col-12 {
  float: left;
  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}
/* Mobile defaults */
.col-3,
.col-4,
.col-6,
.col-12 {
  width: 100%;
}
/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }
  /* 4 columns */
  .col-4 {
    width: 33.33%;
  }
  /* 6 columns */
  .col-6 {
    width: 50%;
  }
  /* 12 columns */
  .col-12 {
    width: 100%;
  }
}
/*******************/
/* END GRID SYSTEM */
/*******************/
